.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
  color: #444;
}

.movie h2 {
  font-size: 1.2rem;
  color: #444;
}

.movie h3 {
  color: rgb(67, 76, 80);
  margin: 0;
  font-size: 0.8rem;
}
