.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.form p {
  font-weight: 100;
  font-size: 0.7rem;
  margin-top: 0;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

p {
  font-weight: 100;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #b54f42;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem; 
}

.actions button:hover,
.actions button:active {
  background-color: #c96b5fd4;
  color: #fff;
}

.actions .submit {
  border: 1px solid #b54f42;
  background-color: #b54f42;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #c96c5f;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #b54f42;
  background-color: rgba(201, 107, 95, 0.344)
}
