.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #b54f42;
  border: 1px solid #b54f42;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #c96c5f;
  border-color: #c96c5f;
}
